* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.audio-container img {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;

}
audio {
    display: none;
}

.audio-player {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(22,23,22);
    background: linear-gradient(180deg, rgba(22,23,22,0) 0%, rgba(20,20,20,0.6867121848739496) 100%);
}

.audio-player .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.audio-player .controls span {
    color: white;
    font-size: 12px;
}

.audio-player .controls .actions {
    display: flex;
    align-items: center;
}

.audio-player .controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin: 0 10px;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: .4s;
    outline: none;
}
.audio-player .controls button:hover {
    opacity: .7;
}

.audio-player .controls button.play-button {
    width: 50px;
    height: 50px;
    border: 0;
    background: white;
    color: black;
}
.audio-player.paused .controls button.play-button .fa-pause {
    display: none;
}

.audio-player.paused .controls button.play-button .fa-play {
    display: inline-block;
}

.audio-player:not(.paused) .controls button.play-button .fa-pause {
    display: inline-block;
}

.audio-player:not(.paused) .controls button.play-button .fa-play {
    display: none;
}

.audio-player .progress-bar {
    position: relative;
    width: 100%;
    height: 4px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.534);
}

.audio-player .progress-bar .indicator {
    display: none;
}

.audio-player .progress-bar .internal-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: rebeccapurple;
}